<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head'); %>
    <link rel="stylesheet" href="/css/post.css" />
    <title>API CRUD MongoDB Atlas</title>
</head>

<body>
    <%- include('../partials/menu'); %>

    <main>
        <h2>Post</h2>
        <hr/>
        <form method="POST" action="/api/posts">
            
            <% if (postId) { %>
                <%- `<input type="hidden" id="postId" name="postId" value="${postId}" />` %>    
            <% } %>
            
            <label for="title">Title:</label>
            <input type="text" required class="field" id="title" name="title" placeholder="Post title" maxlength="30" />
            
            <label for="content">Content:</label>
            <textarea required name="content" class="field" id="content" cols="30" rows="10" placeholder="Post content..."></textarea>
            
            <label for="">Author:</label>
            <input type="text" class="field" id="author" name="author" placeholder="Anonymous" maxlength="20" />
            
            <label for="publishDate">Publish date:</label>
            <input type="date" class="field" id="publishDate" name="publishDate" />
            
            <a href="/manager" class="btn btn-secondary">Cancel</a>

            <% if (postId) { %>
                <%- `<a href="/api/posts/${postId}/delete" class="btn btn-danger">Delete</a>` %>
            <% } %>

            <input type="submit" value="Save" class="btn btn-primary" />
        </form>
    </main>

    <%- include('../partials/footer'); %>

    <script>
        const postId = document.getElementById('postId');
        if (postId) {
            fetch(`http://localhost:9000/api/posts/${postId.value}`)
            .then((res) => {
                return res.json();
            })
            .then((json) => {
                const publishDate = new Date(json.publishDate);
                const mm = publishDate.getMonth() + 1;
                const dd = publishDate.getDate();

                document.getElementById('title').value = json.title;
                document.getElementById('content').value = json.content;
                document.getElementById('author').value = json.author;
                document.getElementById('publishDate').value = `${publishDate.getFullYear()}-${(mm > 9 ? '' : '0') + mm}-${(dd > 9 ? '' : '0') + dd}`;
            })
            .catch((err) => {
                console.error(err);
            });
        }
    </script>
</body>

</html>
